*{
    margin: 0;
}

#box1{
    border: 5px solid green;
    margin: 20px;
}
#box2{
    border: 5px solid grey;
}
.sidemargin
{
    margin-left: 10%;
}
div{
    width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;

}